import React, { PropTypes, Component } from 'react'
import shortid from 'shortid'

export default class <%= name %> extends Component {
  static propTypes = {
    title: PropTypes.string,
    desc: PropTypes.string,
    width: PropTypes.string,
    height: PropTypes.string
  };

  static defaultProps = {
    width: '2rem',
    height: '2rem'
  };

  constructor () {
    super()

    this.titleId = '<%= name %>__' + shortid.generate()
    this.descId = '<%= name %>__' + shortid.generate()
  }

  get role () {
    if (this.props.title) {
      return 'img'
    } else {
      return 'presentation'
    }
  }

  renderTitle () {
    const { title } = this.props
    return (title) ? (
      <title id={this.titleId}>{title}</title>
    ) : null
  }

  renderDesc () {
    const { desc } = this.props
    return (desc) ? (
      <desc id={this.descId}>{desc}</desc>
    ) : null
  }

  get labelledBy () {
    const ids = []

    if (this.props.title) {
      ids.push(this.titleId)
    }

    if (this.props.desc) {
      ids.push(this.descId)
    }

    return (ids.length > 0) ? ids.join(' ') : null
  }

  render() {
    const {
      width,
      height
    } = this.props
    return (
      <svg
        width={width}
        height={height}
        viewBox="<%= viewBox %>"
        aria-labelledby={this.labelledBy}
        role={this.role}>
        {this.renderTitle()}
        {this.renderDesc()}
        <g role="presentation"><%= svg %></g>
      </svg>
    )
  }
}
