import React, { Component } from 'react'
import ReactDOM from 'react-dom'
import * as <%= bundleName %> from '<%= bundlePath %>'

class Demo extends Component {
  renderIcon (icon) {
    const Icon = <%= bundleName %>[icon]
    return (
      <li key={icon}>
        <div className="glyph-img">
          <Icon />
        </div>
        <span className="glyph-name">{icon}</span>
      </li>
    )
  }

  render () {
    return (
      <div>
        <h1><%= variant %></h1>
        <ul className="glyph">
          {Object.keys(<%= bundleName %>).map(this.renderIcon)}
        </ul>
      </div>
    )
  }
}

ReactDOM.render(<Demo />, document.getElementById('demo'))
